
<h2>New Channel</h2>
<form action="/channels" method="post">

  <label>Name:</label>
  <input type="text" name="name" placeholder="Channel 7">
  <label>Image:</label>
  <input type="text" name="image" placeholder="http://.....">

  <button>Create Channel</button>
</form>
