<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Channel- Show</title>
    <link rel="stylesheet" href="/css/master1.css">
  </head>
  <body>
    <h1></h1>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/shows">All Shows</a>
        <a href="/shows/new">New Show</a>
        |
        <a href="/channels">All Channels</a>
        <a href="/channels/new">New Channel</a>
      </nav>

      <%= yield %>

    </div>

  </body>
</html>
