<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Collection</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
  <div class="container">
    <nav>
      <a href = "/">Home</a>
       <a href = "/books">Book List</a>
       <a href = "/books/new">New Book Entry<a>
         |
         <a href ="/authors">Author Record</a>
         <a href ="/authors/new">New Author</a>
    </nav>
</div>
<%= yield %>
  </body>
</html>
