<h2>New Application</h2>

<form method="post" action="/applications">
<label>Name:</label>
<input type="text" name="name" placeholder="application name">
<label>Image:</label>
<input type="url" name="image" placeholder="https://...">

<button>Create Application</button>
</form>
