<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Reality</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">Home</a>
        <a href="/virtuals">Virtual Reality</a>
        <a href="/virtuals/new">New Virtual Reality</a>


        <a href="/applications">All Applications</a>
        <a href="/applications/new">New Applications</a>
      </nav>

      <%= yield %>

    </div>
</body>
</html>
