<h2>Rock Paper Scissors Game</h2>

<form action="/rocks/play">
    1 - Rock</br>
    2 - Paper</br>
    3 - Scissors</br>
    </br>
    <input type="text" name="throw" placeholder="Enter your choice (1, 2 or 3)..." required>
    <button>Go</button>
</form>
