@import url('https://fonts.googleapis.com/css?family=Raleway');

thead {
  font-weight: bold;
}

td {
  border: 1px solid black;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.feature {
  max-width: 20em;
  margin: 20px;
}

.action-button {
  background-color: red;
  border: 1px solid red;
  border-radius: 10px;
}

.add-button {
  background-color: green;
  border: 1px solid green;
  border-radius: 10px;
}

.edit-link {
  color: red;
}
