<h2>New galaxy</h2>

<form method="post" action="/galaxies">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Galaxy name">
  <label>Family:</label>
  <input type="text" name="type" placeholder="Galaxy type">
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create galaxy</button>
</form>
