<h2>Rock-Paper-Scissors</h2>

<form action="/rockpaperscissors/result">
  <select name="choice">
    <option value="Rock">Rock<option>
    <option value="Paper">Paper<option>
    <option value="Scissors">Scissors<option>
  </select>
<button>Your Choice</button>

</form>
