// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-city {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
  width: 180px;
  height: 180px;
  color: #EFEFEF;
  text-align: center;
  text-shadow: 1px 1px 3px #222;
  transition: .25s all;
  margin: 10px;
  &:hover {
    transform: scale(1.1);
  }

  h2 {
    font-size: 25px;

  }
  h3 {
    font-size: 20px;

  }
}

.show {
  display: block !important;
}