<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Planets and Moons</title>
  </head>
  <body>
    <div class="container">
      <h1>Planets and Moons</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/planets">Planet Index</a>
        <a href="/moons">Moon Index</a>
        <a href="/planets/new">New planet</a>
        <a href="/moons/new">New moon</a>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
