<h2>New Planet record</h2>

<form method="post" action="/planets" >
  <label>Name</label>
  <input type="text" name="name" placeholder="Planet name">
  <label>Radius (km)</label>
  <input type="integer" name="radius" placeholder="Planet radius">
  <label>Orbits the sun (Earth years)</label>
  <input type="integer" name="period2" placeholder="Planet period">
  <label>Image</label>
  <input type="url" name="image" placeholder="https://...">
  <label>Clip</label>
  <input type="integer" name="clip" placeholder="%">
  <button>Create planet record</button>
</form>
