<h2>Add a new sport to the library</h2>

<form action="/sports" method="post">
  <label>Sport</label>
  <input type="text" name="sport" placeholder="Football">
  <label>Players</label>
  <input type="text" name="Players" placeholder="11">
  <label>Image</label>
  <input type="text" name="Image" placeholder="Image URL">
  <button>Add Sport</button>

</form>
