<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Bikes </title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">

<nav>
  <a href="/"> Home </a>
    <br>
  <a href="/bikes"> All bikes </a>
    <br>
  <a href="/bikes/new"> New bikes </a>
</nav>
  <%= yield %>

    </div>
  </body>
</html>
