<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Finder</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <!-- <div class="overlay">      </div> -->
    <div class="container">
      <header>
        <h1>
          <a href="/">Book Finder</a></h1>
      </header>
      <div class="main">
        <%= yield %> <!-- your content here -->
      </div>

    </div>
  </body>
</html>
