<h2>New Ocean</h2>

<form action="/oceans" method="post">
  <label>Name:</label>
  <input type="text" name="ocean[name]" placeholder="Ocean">

  <label>Location:</label>
  <input type="text" name="ocean[location]" placeholder="Antarctica">

  <label>Area:</label>
  <input type="number" name="ocean[area]" placeholder="(in square km)">

  <label>Volume: </label>
  <input type="number" name="ocean[volume]" placeholder="(in cube km)">

  <label>Average depth: </label>
  <input type="number" name="ocean[average_depth]" placeholder="(in metres)">

  <label>Coastline: </label>
  <input type="number" name="ocean[coastline]" placeholder="(in km)">

  <button>Open sesame</button>
</form>
