<!-- <h2>NEW OCEAN</h2>

<form action="/oceans" method="post">

  <label>Name:</label>
  <input type="text" name="ocean[name]" placeholder="Pacific">

  <label>Image:</label>
  <input type="url" name="ocean[image]" placeholder="http://...">

  <label>Surface Area (kms squared):</label>
  <input type="number" name="ocean[area]" placeholder="165250000">

  <label>Average Depth (metres):</label>
  <input type="number" name="ocean[depth]" placeholder="4280">

  <label>Water Volume (cubic kms):</label>
  <input type="number" name="ocean[volume]" placeholder="710000000">

  <button>Create Ocean!</button>

</form> -->
