.container
{
  max-width:960px;
  margin :0 auto;
  font-size: 20px;
}

.feature
{
  max-width:100%
}

table
{
  padding :10px;
  background-color :grey;
  border :2px solid red ;

}

td
{
  padding:4px;
}
