
<div class="home">
  <div class="text-box">
            <h1 class="heading-primary">
              <span class="heading-primary-main">Mountains</span>
              <span class="heading-primary-sub">in Australia</span>
            </h1>
<div>
