<h2>New Song</h2>

<form method="post" action="/songs">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Song Name">
  <label>Genre:</label>
  <input type="text" name="genre" placeholder="Genre">
  <label>Year Released:</label>
  <input type="integer" name="released" placeholder="YYYY">
  <label>Record Label:</label>
  <input type="text" name="company" placeholder="Record Label">
  <!-- <br> -->
  <label>Video clip:</label>
  <input type="url" name="clip" placeholder="http://...">

  <button>Create Song</button>
</form>
