<h2>Guess the Secret Number!</h2>

<p>Type in a number between 1 and 10 and see if you've got a match!</p>

<form action="/secretnum_result">
  <label>Enter your guess:</label>
  <input type="number" name="guess_number" placeholder="2" required>
  <button>Submit!</button>
</form>
