<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Players</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class ="container">
      <nav>
        <a href="/">Home</a>
        <a href="/players">All players</a>
        <a href="/players/new">New player</a>
        |
        <a href="/teams">All teams</a>
        <a href="/teams/new">New team</a>
      </nav>
      <%= yield %>
    <div>
  </body>
</html>
