<h2>New teams</h2>

<form method="post" action="/teams">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Team name">
  <label>"Image:"</label>
  <input type="url" name="image" name="http://...">

  <button>Create team</button>
</form>
