body {
  background-color: lightblue;
  color: blue;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.title {
  text-decoration: none;
  font-family: sans-serif;
  color:inherit;
}
