<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Games</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">home</a>
        <a href="/snes">All Games</a>
        <a href="/snes/new">New Game Title</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
