<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <title>PokeDB</title>
  </head>
  <body>
    <nav>
        <a href="/">Home</a> |
        <a href="/trainers">All Trainers</a> |
       <a href="/trainers/new">Add Trainer</a> |
       <a href="/pokes">All Pokemon</a> |
       <a href="/pokes/new">Add Pokemon </a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
