<h3>Add Pokemon</h3>

<form action="/pokes" method="post">
Name: <input type="text" name="name" placeholder="Pikachu">
Type: <input type="text" name="pokemon_type" placeholder="Electric">
Image: <input type="url" name="image" placeholder="http://...">

<button>Submit</button>
</form>
