<h3>Add Trainer</h3>

<form action="/trainers" method="post">
Name: <input type="text" name="name" placeholder="Ash">
Image: <input type="url" name="image" placeholder="http://...">

<button>Submit</button>
</form>
