<h2>Add Wine</h2>

<form action="/wines" method="post">
    <label for="">Variety:</label>
    <input type="text" name="variety" placeholder="eg: pinot grigio">

    <label for="">Color:</label>
    <input type="text" name="color" placeholder="white/red/rose?">

    <label for="">Image:</label>
    <input type="url" name="image" placeholder="http://(image url)">

    <button>Add Wine</button>
</form>