<h2>New Whisky</h2>

<form method="post" action="/whiskys">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Whisky name">
  <label>"Origin:"</label>
  <input type="text" name="origin" placeholder="Whisky origin">
  <label>"Image:"</label>
  <input type="url" name="image" name="http://...">

  <button>Create whisky</button>
</form>
