* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  min-height: 100vh;
  background-color: #cdd0e2;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 60px auto 0 auto;
}

header, .form {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

h1 {
  color: crimson;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 70px;
}



/* FORM */
form {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}

form div {
  margin-bottom: 18px;
}

input {
  min-width: 300px;
}

.button, button {
  margin-top: 10px;
  font-size: 16px;
  color: crimson;
  padding: 3px;
  border: 2px solid crimson;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* RESULTS STYLING */


img {
  float: left;
  padding-right: 10px;
}

p {
  max-width: 100%;
}

#results {
  text-align: left;
  margin: 30px auto;
  width: 90%;
}
