<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>F1 Drivers</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/motorsport">All drivers</a>
        <a href="/motorsport/new">New driver</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
