<h2>New Driver</h2>

<form method="post" action="/motorsport">
  <label>Name: </label>
  <input type="text" name="name" placeholder="Driver's fullname">
  <label>Team: </label>
  <input type="text" name="team" placeholder="Team Name">
  <label>Number: </label>
  <input type="integer" name="number" placeholder="Helmet Number">
  <label>Image: </label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create driver</button>

</form>
