<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>

  <body>

    <div class="container">

      <h1>
        <a href="/">Library</a>
      </h1>

      <%= yield %><!-- your content goes here -->
      
    </div>

  </body>
</html>
