<!--  -->
<h2>New art style</h2>
<form method="post" action="/art" >
  <label>Art Type:</label>
  <input type="text" name="art_type" placeholder = "Modern">
  <label>Art Description:</label>
  <input type="text" name="art_defi" placeholder = "tension and high drama in their composition.">
  <label>Famous Artist:</label>
  <input type="text" name="fam_artist" placeholder = "Mark Tobey">
  <label>Image:</label>
  <input type="url" name="art_image" placeholder = "http://..."><br><br>

  <button>Create Art Style</button>

</form>
