<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ART</title>
    <link rel="stylesheet" href="/css/master1.css">
  </head>
  <body>
    <div class="container">
      <h1>Art Styles</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/art">All Art Styles</a>
        <a href="/art/new">Art style New</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
