body{
  background-color: pink;
  color:white;

}

.container {
  max-width:960px;
  margin: 0 auto;

}

a{
  color:inherit;
  font-size:20px;
  padding: 100px;
}

img.feature{
  display:block;
  margin:0 auto;
  max-width:100%;

}
