<p><h2>Magic 8 Ball</h2>
<form action = "/magicball/magicball_answer">
  <input type = "text" name= "question1" placeholder ="As I see it, yes" required>
  <button>Go</button>
</form>

</p>

<!-- <h1><%=@myanswer%></h1> -->
