<div class="container">
  <h2>Welcome to Star Wars Character Profiles Page</h2>

  <p>May the Force be with All of Us</p>

  <img src="http://i2.wp.com/www.techplayce.com/wp-content/uploads/2015/12/star-wars-episode-7-image.jpg?w=620" alt="starwars">

</div>
