<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav class="menu">
        <a href="/">Home</a>
        <a href="/profiles">All profiles</a>
        <a href="/profiles/new">New character</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
