<h2>New character</h2>
<div class="form">
  <form method="post" action="/profiles">
    <label>Name: </label>
    <input type="text" name="name" placeholder="Luke Skywalker">
    <label>Home World: </label>
    <input type="text" name="home_world" placeholder="Tatooine">
    <label>Film: </label>
    <input type="text" name="film" placeholder="The Empire Strikes Back">
    <label>Height: </label>
    <input type="number" name="height" placeholder=172>
    <label>Film poster: </label>
    <input type="url" name="film_url" placeholder="https://...">

    <button>Create new character</button>
  </form>
</div>
