<h2>Secret Number</h2>

<form action="secret_number/results">
  <label>What number would you like to guess between 1 and 10?</label>
  <input type="number" name="guess" placeholder="5">
  <button>Guess secret number</button>


</form>
