<h2>New Category</h2>

<form method="post" action="/categories">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Category Name eg. cupcakes"><BR/>
  <label>Description: </label>
  <input type="text" name="description" placeholder="Description"><BR/>
  <label>Image:</label>
  <input type="text" name="image" placeholder="http://..."><BR/>
  <button>Create category</button>
