<h2>Edit <% @category.name %> Category</h2>

<form method="post" action="/categories/<%= @category.id %>"><BR/>
  <label>Name:</label>
  <input type="text" name="name" placeholder="Category Name eg. cupcakes" value="<%= @category.name %>"><BR/>
  <label>Description: </label>
  <input type="text" name="description" placeholder="Description" value="<%= @category.description %>"><BR/>
  <label>Image:</label>
  <input type="text" name="image" placeholder="http://..." value="<%= @category.image %>"><BR/>
  <button>Update category</button>
</form>
