<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confectionery Creations by Taryn</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li></li>
          <li></li>
          <li></li>
          <li><a href="/categories">Categories</a></li>|
          <li><a href="/categories/new">New Category</a></li>
          <li></li>
          <li><a href="/confectioneries">Confectioneries</a></li>|
          <li><a href="/confectioneries/new">New Confectionery</a></li>
        </ul>
      </nav>

    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
