<h2>Games Home</h2>

<h3>Choose a game below:</h3>

<ul>
  <li>
    <a href="/magic8_index">Magic 8 Ball</a>
  </li>
  <li>
    <a href="/secretnum_index">Guess the Secret Number</a>
  </li>
  <li>
    <a href="/rps_index">Rock Paper Scissors</a>
  </li>
</ul>
