<h2>What is your fortune? Find out now!</h2>

<p>Type in your question here and Magic 8 Ball will answer it:</p>

<form action="/magic8_answer">
  <label>Question:</label>
  <input type="text" name="question" placeholder="Will I die before 30?" required>
  <button>Submit</button>
</form>
