<h2>New Character</h2>

<form method="post" action="/characters">
  <label>Character Name</label>
  <Input type="text" name="name" placeholder="Character name"></input>

  <label>When did this character die?</label>
  <Input type="number" name="death_season" placeholder="season"></input>
  <Input type="number" name="death_ep" placeholder="episode no."></input>

  <label>How did this character die?</label>
  <Input type="text" name="death_how" placeholder="Method of death"></input>

  <label>Thumbnail</label>
  <Input type="url" name="thumbnail_url" placeholder="http://..."></input>

    <button>Create Character</button>
</form>
