<h2>Create House</h2>

<form method="post" action="/houses">
  <label>House Name</label>
  <Input type="text" name="name" placeholder="House name"></input>

  <label>Seat</label>
  <Input type="text" name="seat" placeholder="Seat"></input>

  <label>Current Status</label>
  <Input type="text" name="house_type" placeholder="Status"></input>

  <label>Words</label>
  <Input type="text" name="words" placeholder="words"></input>

  <label>Sigil</label>
  <Input type="url" name="sigil_url" placeholder="http://..."></input>

  <button>Create House</button>
</form>
