<h3>Upload a Design</h3>

<form action="/designs" method="post">
  <label>Name of Design</label>
  <input type="text" name="name" placeholder="Black Lotus">

  <label>Creator</label>
  <input type="text" name="creator" placeholder="Sherlockology">

  <label>Image</label>
  <input type="url" name="image" placeholder="http://">

  <button>Submit</button>
</form>
