<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title></title>
  </head>
  <body>
<h2>Origami DB</h2>
<nav>
  <ul>
    <a href="/">Home</a>
    <a href="/designs">All Designs</a>
    <a href="/designs/new">Upload Design</a>
  </ul>

</nav>
<%= yield %>

  </body>
</html>
