<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Pair programming</title>
  </head>
  <body>
    <div>
      <a href="http://pairprogrammingbot.com/selenium/TestRunner.html?test=/tests/TestSuite.html" id="test_link">[run tests]</a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div id="beck_link">
      <span id="parentheses">(<a href="beck">inspiration</a>)</span>
    </div>
  </body>
</html>
