<h2>New Kitten</h2>

<form method="post"action="/kittens" >
  <label>Name:</label>
  <input type="text" name="name" value="Kitten name">
  <label>Age:</label>
  <input type="number" name="age" value="Kitten age">
  <label>Image:</label>
  <input type="url" name="image" value="https://...">
  <button>Submit</button>
</form>

<!-- https://www.publicdomainpictures.net/pictures/130000/velka/tabby-kitten.jpg -->

<!-- https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/2_Kittens.jpg/1599px-2_Kittens.jpg -->

<!-- https://i.ytimg.com/vi/OUnnQQQdD0k/hqdefault.jpg -->

<!-- https://c1.staticflickr.com/5/4223/34852424561_769754926f_b.jpg -->
