<h2>New Kitten</h2>

<form method="post"action="/kittens" >
  <label>Name:</label>
  <input type="text" name="name" value="Kitten name">
  <label>Age:</label>
  <input type="number" name="age" value="Kitten age">
  <label>Image:</label>
  <input type="url" name="image" value="https://...">
  
  <button>Submit</button>
</form>
