<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Book search</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><h1>Book search</h1></a>
      <%= yield %>
    </div>
  </body>
</html>
