<form action="/test">   <!-- specify where to send the input -->
  <label>Do you have a test for that?</label>
  <button type="submit" name="y">Yes</button>
</form>

<form action="/no_test">
<button type="submit" name="n">No</button>
</form>
