<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Pair Programming Bot</title>
  </head>
  <body>
<h2>Pair Programming Bot</h2>
<br>
<%= yield %>

  </body>
</html>
