<form action="/refactor_needed">   <!-- specify where to send the input -->
  <label>Need to refactor?</label>

  <button type="submit" name="y">Yes</button>
  </form>
<form action="/refactor_not_needed">
  <button type="submit" name="n">No</button>
</form>
