<div class="magic-8-ball">
  <div class="left-div">
    <h2>Magic<br><span>8</span><br>Ball</h2>
  </div>
  <div class="right-div">
    <form action="/games/magic_8_ball" method="get">
      <label>Ask the machine a burning<br>yes/no question:</label><br>
      <input type="text" placeholder="e.g. Is this all there is?"><br>
      <button>Play</button>
    </form>
  </div>
</div>

<div class="secret-number">
  <h2>Secret Number</h2>
  <p>The machine is thinking of a number between 1 and 10.</p>
  <p>Make your guess from the numbers below and see if you can read the machine's mind.</p>
  <a href="/games/secret_number"><div class="top-card card">1</div></a>
  <div class="second-row-cards">
    <a href="/games/secret_number"><div class="card">2</div></a>
    <a href="/games/secret_number"><div class="card">3</div></a>
  </div>
  <div class="third-row-cards">
    <a href="/games/secret_number"><div class="card">4</div></a>
    <a href="/games/secret_number"><div class="card">5</div></a>
    <a href="/games/secret_number"><div class="card">6</div></a>
  </div>
  <div class="bottom-row-cards">
    <a href="/games/secret_number"><div class="card">7</a></div>
    <a href="/games/secret_number"><div class="card">8</a></div>
    <a href="/games/secret_number"><div class="card">9</a></div>
    <a href="/games/secret_number"><div class="card">10</a></div>
  </div>

</div>

<div class="scissors-paper-rock">
  <h2>Scissors, Paper, Rock. You vs. the computer.</h2>
  <h3>Make your choice.</h3>
  <div class="row">
    <div class="box">
      <a href="/games/scissors_paper_rock/scissors">Scissors</a>
    </div>
    <div class="box">
      <a href="/games/scissors_paper_rock/paper">Paper</a>
    </div>
    <div class="box">
      <a href="/games/scissors_paper_rock/rock">Rock</a>
    </div>
  </div>
</div>
