

body {
  font-size: 14px;
  line-height: 17px;
  font-family: arial;
}

h1 {
	text-indent: -99999em; /* hides the H1 tag from the page, while semantically keeping it present in your HTML */
}

nav {
  background-color: black;
  color: white;
}

.container {
	width: 950px;
	margin: 0 auto; /*centers our container on the page */
}

.logo_social_box {
  display: inline-block;
}

.logo {
  width: 60%;
  display: inline-block;
}

.socialMedia li {
  width: 30%;
  display: inline-block;
  text-decoration: none;
}

.button {
  margin-top: 20px;
}

.button_text {
  width: 70%;
  margin-right: 70px;
  display: inline-block;
}

.button_image {
  width: 30%;
  display: inline-block;
}

.three-col {
  margin-bottom: 50px;
}

.smallImages {
  border: 5px solid #CCC;
}

.home-box1 {
  width: 33%;
  display: inline-block; /* this will display neatly side by side */
}

.home-box2 {
  width: 33%;
  display: inline-block; /* this will display neatly side by side */
}

.home-box3 {
  width: 33%;
  display: inline-block; /* this will display neatly side by side */
}

.readMoreLink {
  color: #33ccff;
}

footer {
  background-color: black;
  color: white;
  padding-top: 20px;
}
