<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Library</title>
    <link rel="stylesheet" href="/CSS/master.css">
  </head>
  <body>

    <a href="/"Book Library>Book Library</a>


    <%= yield %><!-- Your content here -->

  </body>
</html>
