@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

body {
  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/graphy.png');
  color: #333;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
  background: rgba(34, 34, 34, 0.6);
  margin: 0;
  padding: 20px;
}
nav a {
  text-decoration: none;
  font-size: 28px;
  margin: 0 15px;
  transition: 0.3s all;
  color: white;
  font-weight: 700;
}
nav p {
  color: #555;
  font-size: 35px;
  margin: 0 15px;
}

nav a:hover {
  transform: scale(1.15);
  color: dodgerblue;
}

.current {
  color: tomato;
}

.container {
  margin: 0 auto;
  border-radius: 0 0 0.5em 0.5em;
  width: 55%;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  color: tomato;
  margin-bottom: 50px;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main img {
  margin-right: 80px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

aside {
  background: rgba(34, 34, 34, 0.2);
  color: #000;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.4);
  margin: 0;
  font-size: 20px;
  height: 50%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
/* hover magnify, color change effect */
aside:hover, .main-text:hover {
  transform: scale(1.2);
  background: rgba(34, 34, 34, 0.8);
  color: white;
}
aside p {
  padding: 1em;
  margin: 0;
  text-align: right;
}

.main-text{
  background: rgba(34, 34, 34, 0.2);
  color: #000;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding: 1.5em;
  font-size: 20px;
  border-radius: 5px;
  flex-direction: column;
  width: 70%;
  font-size: 21px;
  transition: all .3s ease-in-out;
}

.main-text hr{
  width: 10%;
}

.main-text a{
  color: rgb(36, 116, 197);
}