<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Search</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
  	<script src="/js/typeit.min.js"></script>
  	<script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

  <div class="container">
    <header>
      <h3>Find the information you need</h3>
      <a href="/" id="title"><h1>Extensive Book Search</h1></a>
      <h2>Try it with your favourite!</h2>
    </header>

    <aside>
      <div id="yield">
        <%= yield %>
      </div>
    </aside>
  </div>
  </body>
</html>
