<h2>New Dog</h2>

<form method="post" action="/dogs">

  <label>Breed:</label>
  <input type="text" name="breed" placeholder="Dog breed">
  <label>Origin:</label>
  <input type="text" name="origin" placeholder="Dog origin">
  <label>Temperament:</label>
  <input type="text" name="temperament" placeholder="Dog temperament">
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create Dog</button>

</form>
