<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dogs</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/dogs">All dogs</a>
        <a href="/dogs/new">New Dog</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
