<h2>About your favourite book</h2>

<p><strong>This is what the cover looks like:</strong> </p>
<img src="<%= @book_image %>" alt="Book Cover Image">
<p><strong>This is a description of the book:</strong></p>
<p><%= @book_description %></p>
