<h2>What is your favourite book?</h2>

<form action="/about">
  <label>Please enter a book name:</label>
  <input type="text" name="book_name" placeholder="Jaws">
  <button>Find Info!</button>
</form>
