<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Database</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1><a href="/">Book Database</a></h1>
    <h2>Get information on all your favourite books in one place!</h2>
    <%= yield %>
  </body>
</html>
