<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Book Cover Finder</title>
  <link rel="stylesheet" href="/css/master.css"
</head>
<body>
  <h1>Book Cover Finder</h1>
<p>The current time is <%= Time.now %></p>
  <%= yield %>
</body>
</html>
