<img src=<%= @image %></img>
<p>The title of the book is <strong><%= @title %></strong></p>
<p>The author of the book is <strong><%= @author %></strong></p>
<p>The publisher of the book is <strong><%= @publisher %></strong></p>
