<h2>Add new synth</h2>
<form action="/" method="post">
    <label for="">Model:</label>
    <input type="text" placeholder="Enter synthesiser model here" name="model">

    <label for="">Make:</label>
    <input type="text" placeholder="Enter synthesiser manufacturer here" name="make">

    <label for="">Type:</label>
    <input type="text" placeholder="Analog/digital/FM/etc" name="type">

    <label for="">Year:</label>
    <input type="number" min="1970" max="2099" step="1" placeholder="1980" name="year">

    <label for="">Image:</label>
    <input type="url" placeholder="http://(image.url.jpg)" name="image">

    <button>Add New</button>
</form>