#container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  background-color: black;
  margin: 0;
}

nav ul {
  padding-left: 230px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#logo {
  padding: 20px 0;
}
#socialMedia {
  float: right;
}

#socialMedia ul li {
  display: inline-block;
  width:60px;
  height:60px;
  background:blue;
  text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}

.imageshadow {
  margin-top: -20px;
}
