<h3>Search Results</h3>

<p>
Here is some information on your book:
</p>

<h2><%= @result %></h2>
by <%= @author %><br><br>
<strong>Blurb:</strong>
<%= @description %>
<br>
<br>
<img src=<%= @img %>>
