<div class="images">
  <a href="/magic8"><img src="/assets/8ball.jpg" alt="8ball" height="150" /></a>
  <a href="/secretnumbers"><img src="/assets/guessnumber.jpg" alt="guessnumber" height="150" /></a>
  <img src="/assets/rps.png" alt="rps" height="150" />

</div>
