<h2>Secret Number</h2>

<p>Select a secret number between 1 and 10 from the list below</p>

<form action="/games/secret_number_answer">
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>

<button value="submit">Check answer</button>

</form>
