<p><h2>Find the Secret Number</h2>
<form action = "/secretnumber/correctnumber">
  <label>Guess a number between 1 and 10:</label>
  <h3>Clues:</h3>
  <p>I am an Odd Prime Number!</p><p>Who am I?</p>
  <input type = "text" name= "num" placeholder ="2" required>
  <button>Go</button>
</form>

</p>

<!-- <h1><%=@myanswer%></h1> -->
