<h2>Secret number</h2>
<div class="secret_buttons">
  <form action="/secret">
    <button type="submit" name="1" value="1">1</button>
    <button type="submit" name="2" value="2">2</button>
    <button type="submit" name="3" value="3">3</button>
    <button type="submit" name="4" value="4">4</button>
    <button type="submit" name="5" value="5">5</button>
    <button type="submit" name="6" value="6">6</button>
    <button type="submit" name="7" value="7">7</button>
    <button type="submit" name="8" value="8">8</button>
    <button type="submit" name="9" value="9">9</button>
    <button type="submit" name="10" value="10">10</button>
  </form>
</div>
