<h1>Welcome to Magic 8-Ball</h1>
<h4>Directions: Enter any question and recieve important life advice</h4>

<form action="/magic/result">
  <input type="text" name="magic_question" placeholder="Should i eat lunch today?">
  <button>Go</button>

</form>
