

<div id="overlay"></div>

<div class="stockbox">

    <h1>Enter Stock Symbol</h1><br>
    <form action="/stock">
      <label>Stock Symbol:</label>
      <input type="text" name="stock_symbol" placeholder="$SYMB">

      <button>Calculate</button>
    </form>
</div>
