<h2>New Todo List</h2>

<form method="post" action="/todolists">
  <label>List Name: </label>
  <input type="text" name="list_name" placeholder="Plan US trip">
  <label>Tag: </label>
  <input type="text" name="tag" placeholder="personal, work...">


  <button>Create Todo List</button>
</form>
