<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pair Programming Bot</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

  <div class="container">

      <main>
        <%= yield %>
      </main>

  </div>
  </body>
</html>
