<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pair Programming Bot</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="overlay"></div>
    <div class="container">
      <%= yield %> <!-- your content here -->
    </div>
  </body>
</html>
