
<div class="book">

    <h1>Book Viewer</h1><br>
    <form action="/book">
      <label>Enter Book Name:</label>
      <input type="text" name="book_name" placeholder="Type in the name of a book">
      <button>Calculate</button>
    </form>
</div>
