/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	margin: 0,auto;
	padding: 0px;
	font-family: Times New Roman, serif;
	font-size: 12px;
  Color:#656565;
}

#container {
	width: 950px;
	margin: 0 auto; /*centers our container on the page */
  color: grey;
}
h1{
  font-family: Times New Roman, serif;
  color: #656565;
}

h3 {
  Font Family:"Times New Roman", serif;
  Color:#1E90FF;

}
p{
  font-size: 12px;
  Line Height = 17px;
}
a{
  color:	#1E90FF;
}
