<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Board games</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/board_games">All games</a>
        <a href="/board_games/new">Add new game</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
