<h2>New board game</h2>

<form method="post" action="/board_games">
  <label>Name:</label>
  <input type="text" name="gname" placeholder="Game name">
  <label>Type:</label>
  <input type="text" name="gtype" placeholder="Game type">
  <label>Score:</label>
  <input type="integer" name="gscore" placeholder="Score out of 10">
  <label>Image:</label>
  <input type="url" name="gimage" placeholder="http://...">
  <button>Create board game</button>
</form>
