@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
/*font-family: 'Titillium Web', sans-serif;*/


body {
  background-color: rgba(0,0,0,0.8);
  color: rgba(255, 255, 255, 255);
}

.container {
  max-width: 960px;
  margin: 0 auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

nav {
text-align: left;
  color: white;
background-color: rgba(0,0,128,0.5);

}


img.feature {
  max-width: 200px;
  max-height: 400px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: 5px 0 5px 0 rgba(0,0,0,0.8);
}

.video_clip {
/*
  width: "560";
  height: "315";
*/
  position:relative;
  margin: 50px;
}

.record_label {
  margin-bottom: 50px;
}
