body {
  background-color: rgba(130, 143, 215, 0.5);
}

h1 {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
}

span {
  font-style: italic;
  font-size: 30px;
  /* text-align: justify; */
}

img {
  margin: auto;
  text-align: center;
}
