<h2>Secret Number</h2>

<form action="/secretnum/answer">
  <input type="integer" name="secretnumber" placeholder="Enter your secret number between 1 and 10..." required>
  <button>Go</button>
</form>
