<h2><%= @mountain.name %></h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>location</td>
      <td>Height</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @mountain.name %></td>
      <td><%= @mountain.location %></td>
      <td><%= @mountain.height %></td>
    </tr>
  </tbody>
</table>
