<h2>Add New City</h2>
<form action="/cities" method="post">
    <div><label for="">Name:</label>
        <input type="text" name="city[name]" placeholder="eg: Berlin"></div>

   <div><label for="">Country:</label>
       <input type="text" name="city[country]" placeholder="eg: Germany"></div>

    <div><label for="">Population:</label>
        <input type="number" name="city[population]" placeholder="eg: 5000000"></div>

    <div><label>Image:</label>
        <input type="url" name="city[image]" placeholder="http://(image/url.jpg)"></div>
    <div><label for="">Wikipedia Link:</label>
        <input type="url" name="city[wikilink]" placeholder="eg: https://en.wikipedia.org/wiki/Berlin"></div>


    <button>Add City</button>

</form>