@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto:700');
html {
  height: 100%;
  width: 100%;
}
body {
  color: #333;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sky {
  height: 50%;
  background: linear-gradient(rgb(0, 76, 151), rgb(142, 186, 230));
}

.ground {
  height: 50%;
  background: linear-gradient(rgb(81, 143, 53), rgb(78, 201, 7));
}

#meow {
  transform: scale(0.1);
  left: 40%;
  top: 400px;
}
