<div class="content_container">

<form action="/guess">
  <h2>Secret Number</h2>
<label>Guess a number between 1 and 10:</label>
  <input type="number" name="number" placeholder="3">
  <button>Submit</button>
</form>
</div>
