<h2>New Mountain</h2>

<form class="" action="/mountains" method="post">
<label>name</label>
<input type="text" name="mountain[name]" placeholder="Everest"  value="">

<label>Image:</label>
<input type="url" name="mountain[image]" placeholder="http://..."  value="">

<label>Video:</label>
<input type="url" name="mountain[video]" placeholder="http://..."  value="">

<label>Height</label>
<input type="number" name="mountain[height]"  placeholder="(in feet)" value="">

<label>Mountain Range</label>
<input type="text" name="mountain[range]" placeholder="Caucus,  Alps" value="">

<label>Country:</label>
<input type="text" name="mountain[country]" placeholder="Estonia" value="">

<label>Rank</label>
<input type="number" name="mountain[rank]" placeholder="7" value="">

<button>Create Mountain</button>
</form>
