<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body class="instagram">
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/books">All Books</a>
        <a href="/books/new">New book</a>
        |
        <a href="/caategories">All categories</a>
        <a href="/categories/new">New category</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
