*{
  background-image: url("https://store.storeimages.cdn-apple.com/8750/as-images.apple.com/is/image/AppleInc/aos/published/images/M/Q0/MQ052/MQ052?wid=4000&hei=1800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1495129815011");
  background-position: top;
}
img{
  margin-top: 500px;
  background: none;
}
