<h2>Add a book</h2>

  <form method="post" action="/books">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Book name">
    <label>Genre:</label>
    <input type="text" name="genre" placeholder="Genre">
    <label>Cover:</label>
    <input type="url" name="cover" placeholder="http://...">



    <button>Add a book</button>
  </form>
