<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/books">My list</a>
        <a href="/books/new">Add a book</a>
        ||
        <a href="/authors">Authors</a>
        <a href="/authors/new">Add a author</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
