<h2>New Language</h2>

<form method="post" action="/language">
  <label>Name:</label>
  <input type="text" name="name" placeholder="e.g. Spanish">
  <br>
  <label>Name in native language:</label>
  <input type="text" name="nativeName" placeholder="e.g. español">
  <br>
  <label>Family:</label>
  <input type="text" name="family" placeholder="e.g. Indo-European">
  <br>
  <label>Living or dead:</label>
  <input type="text" name="livingDead" placeholder="e.g. living">
  <br>
  <label>Linguasphere:</label>
  <input type="url" name="map" placeholder="http://...">
  <!-- value would be if we already know current value and user will change it -->
  <br>
  <button>Add<br>language</button>
</form>
