<h2>New Movie</h2>

<form method="post" action="/movies">
  <label>Movie title:</label>
  <input type="text" name="title" placeholder="Movie title">

  <label>Year released:</label>
  <input type="text" name="release_year" placeholder="Release year">

  <label>Rotten tomatoes rating (%):</label>
  <input type="number" name="rating" placeholder="Rating">

  <label>Movie Poster:</label>
  <input type="url" name="poster" placeholder="http://...">

  <button>Create movie</button>
</form>
