<h1>Secret number</h1>

<p>Test your luck by choosing a number between 1 and 10</p>

<form action="/secret_number/game">
  <input type="number" name="game_input" placeholder="Number between 1-10" required>
  <button>Go</button>


</form>
