<!-- <h2>Home Page</h2> -->

<form action="/book">  <!-- must match route in main.rb file -->

  <label>Book: </label>
    <input type="text" name="book_title" placeholder="1Q84"> <!-- check this exists in Google API -->

  <button value="submit">Search!</button>

</form>
