<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books I</title>
  </head>
  <!-- <link rel="stylesheet" href="/public/css/master.css"> don't inlude PUBLIC in file path -->
    <link rel="stylesheet" href="/css/master.css">
  <body>
    <div class = "container">
      <h1><a href="/home">Books I</a></h1>

      <%= yield %> <!-- your content goes here -->

    </div>
  </body>
</html>
