/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
Body {
  font-family: "Times New Roman", serif;
  color: #656565;
  line-height: 17px;
  font-size: 12px;
  padding: 20px 50px 20px 30px;
  margin: auto;
  text-align: justify;
  max-width: 960px;

}

.p {
  text-align: justify;
}

a {
  color: #568ce2;
  text-decoration: none;
}

.Date {
  color: #568ce2;
}

.logo {
  margin: 0 auto;
  max-width: 960px;
}
