<h2>New Fluffy Dog</h2>

<form method="post" action="/fluffy_dogs">
  <label>Breed:</label>
  <input type="text" name="breed" placeholder="Breed name"/><BR/>
  <label>Origin:</label>
  <input type="text" name="origin" placeholder="Country of origin"/><BR/>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://..."/><BR/>

  <button>Create floof</button>
</form>
