
<p>This page was inspired by the fluffiest of all floofs...</p>



<img class="homeimg" src="/images/IMG_0540.jpg" alt="Fluffy Samoyed Dog"/>
<img class="homeimg" src="/images/IMG_0472.jpg" alt="Fluffy Samoyed Dog Upside Down"/>
<img class="homeimg" src="/images/IMG_0568.jpg" alt="Fluffy Samoyed Dog On Grass"/>
