<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Fluffiest Dogs that ever did Floof</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <a href='/'><h1>The Fluffiest Dogs that ever did Floof.</h1></a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/fluffy_dogs">All fluffy dogs</a></li>
          <li><a href="/fluffy_dogs/new">New fluffy dog</a></li>
        </ul>
      </nav>

    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
