<h2>New Mountain</h2>
<form action= "/mountains" method = "post">
  <label>Name</label>
  <input type="text" name="mountain[name]"  placeholder = "enter mountain">
  <label>Image</label>
  <input type="url" name="mountain[image]"  placeholder = "http://...">
  <label>Height</label>
  <input type="number" name="mountain[height]"  placeholder = "(in metres)">
  <label>Age</label>
  <input type="number" name="mountain[years]"  placeholder = "56">
  <label>Country</label>
  <input type="text" name="mountain[country]"  placeholder = "Australia">
  <button>Create Mountain</button>
</form>
