<h2>New artist</h2>

<form action="/artists" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="e.g. Gustav Klimt"><br>
  <label>Year of birth:</label>
  <input type="integer" name="year_of_birth" placeholder="1862"><br>
  <label>Nationality:</label>
  <input type="text" name="nationality" placeholder="Austrian"><br>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://..."><br>
  <button>Add</button>
</form>
