<h2>Artworks Index</h2>

<div class="gallery">
  <% @artworks.each do |artwork| %>
    <a href="/artworks/<%= artwork.id %>">
      <div class="art-box">
        <img class="mini" src="<%= artwork.image %>" alt="<%= artwork.name %>">
      </div>
    </a>
  <% end %>
</div>
