<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artworks Database</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/master.css">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Dosis|Macondo');
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Artwork Database</h1>
        <nav>
          <ul>
            <a href="/">Home</a>
            <a href="/artworks">Artworks</a>
            <a href="/artists">Artists</a>
            <a href="/artworks/new">Add artwork</a>
            <a href="/artists/new">Add artist</a>
          </ul>
        </nav>
      </header>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
