<h2>Add a new ocean record</h2>
<form action="/oceans" method="post">
  <label>Ocean name</label>
  <input type="text" name="ocean[name]" placeholder="name">

  <label>Maximum depth</label>
  <input type="number" name="ocean[max_depth]" placeholder="maxium depth">

  <label>Average depth</label>
  <input type="number" name="ocean[average_depth]" placeholder="average depth">

  <label>Surface area</label>
  <input type="number" name="ocean[surface_area]" placeholder="surface area">

  <label>Map</label>
  <input type="text" name="ocean[map_ocean]" placeholder="map">

<button>Create ocean</button>
</form>
