body {
  background-color: black;
}

.yes {
  background-color: green;
  margin: auto;
}

.no {
  background-color: red;
  margin: auto;
}

/* .container {
  max-width: 960px;
  margin: auto;
} */
/* h1 {
  text-align: center;
}



span {
  font-style: italic;
  font-size: 30px;
  /* text-align: justify; */
/* }

img {
  margin: auto;
  text-align: center;
} */
