<h1>Type in Your Burning Existential Crisis Question</h1>

<form action="magic/lookup">
  <input type="text" name="magic" placeholder="Enter you question?" required>
  <button>Enter into the abyss</button>

</form>
