<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flowers</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class = "container">
      <nav>
       <a href = "/">Home</a>
        <a href = "/flowers">Bouquet of Flowers</a>
        <a href = "/flowers/new">New Flower</a>
      </nav>
    <%= yield %>
  </div>
  </body>
</html>
