<h2>Rock, Paper, Scissors: What would you choose?</h2>

<form action="/rps_winlose">
  <label>Choose your option:</label>
  <select name="throw">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <button>See if I won!</button>
</form>
