
<img src= <%= @book_cover %>><br>
<strong><p>Author:<%= @book_author%><br></p></strong>
<strong><p>Publisher: <%= @book_publisher %></p></strong>
<strong><p>Country:<%= @book_country%><br></p></strong>
