body{

}

/* Dropdown */

/* .dropdown-button{
  background-color: #3498DB;
  color: white;
  padding: 5px;
  font-size: 15px;
  border: none;
} */

.top-menu>a, .dropdown-button{
  background-color: #3498DB;
  color: white;
  padding: 5px;
  font-size: 15px;
  border: none;
}

.dropdown-button:hover, .dropdown-button:focus{
  background-color: #2980B9;
}


.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.show{display:block;}


/* LAYOUT */
.container{
  max-width: 960px;
  margin: 0 auto;
}

img.feature{
  display: block;
  margin: 0 auto;
  max-width: 100px;
}



/* Characters */
.show-character-container{
  max-width: 300px;
  margin: auto;
  text-align: center;
}
