<div class="container">
<img src="<%= @img_src %>" class="animated wobble">
<h2>The Magic 8 Ball says...&nbsp;</h2>

<h2>"<%= @show_answer %>"</h2>


<form action="/magic8ball"><button class="magic_button">Ask another question</button></form>
</div>
