<div class="container">
<img src="/assets/8ball.png" class="shadowfilter"/>

<form action="/ask/:question">
<label>What would you like to ask the Magic 8 Ball?</label>
<br><input type="text" name="question" placeholder="Does this thing work?"></input>
<button>Submit</button>
</form>


</div>
