<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>

        <a href="/">Home</a>
        <a href ="/seasons">All Seasons</a>
        <a href="/seasons/new">New Season</a>
      </nav>
      <%= yield %>
      <p>Welcome to the wonderful world of  beautiful seasons. </p>

  </div>
  </body>
</html>
