<h2>Edit Season</h2>


<form method="post" action="/seasons/<%= @season['id'] %>">
<label>Name:</label>
<input type"text" name="name" placeholder="season name" value="<%= @season['name'] %>">
<label>Month:</label>
<input type="text" name="month" placeholder="season month" value="<%= @season['month'] %>">
<label>Image:</label>
<input type="url" name="image" placeholder="https://..." value="<%= @season['image'] %>">

<button>Update season</button>
</form>
