<h2>New Season</h2>

<form method="post" action="/seasons">
<label>Name:</label>
<input type="text" name="name" placeholder="season name" required>
<label>Month:</label>
<input type="text" name="Month" placeholder="season Month" required>
<label>Image:</label>
<input type="url" name="image" placeholder="https://..." required>

<button>Display Season</button>
</form>
