@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

* {
  box-sizing: border-box;
  background-color: #16161d;
}

body {
  font-size: 16px;
  text-align: center;
}

h1 {
  font-family: "Oswald", "Helvetica", Arial, sans-serif;
  font-size: 2.6em;
  margin: 2em;
  color: #F1F1F1;
  /* text-transform: uppercase; */
  line-height: 1.2em;
}

a {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  color: initial;
  border: 2px solid black;
  padding: 1.5em 2.5em;
}

.yes {
  background-color: #7ce56b;
}

.no {
  background-color: #e56b8c;
}

.done {
  background-color: #6da7e8;
}
