<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css"
    <title>Cats</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/cats">All cats</a>
      <a href="/cats/new">New cat</a>
    </nav>

    <%= yield %>
  </body>
</html>
