<form action="/magic8/answer">
  <label>Enter the question: </label>
  <input type="text" name="question" placeholder="e.g. How's the weather tomorrow?" size="100" required>

  <button>Get Answer</button>
</form>
