<!DOCTYPE html>
<html>
  <head>
    <title>Games on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/magic8">Magic 8 Ball</a></li>
        <li><a href="/secret_number">Secret Number</a></li>
        <li><a href="/rock_paper_scissors">Rock Paper Scissors</a></li>
      </ul>
    </nav>
    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
