<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Give+You+Glory|Just+Me+Again+Down+Here|Pangolin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <title>Book Finder</title>
  </head>
  <body>
    <main>
      <h3><a href="/">The Bookworm</a></h3>
      <h4>the site for book searches</h4>
      <%= yield %>
    </main>
  </body>
</html>
