<h2>New Genre</h2>

<form method="post" action="/genres">
  <label>Genre:</label>
  <input type="text" name="genre" placeholder="Genre name">
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create Genre</button>
</form>
