<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Records</title>
    <link rel="stylesheet" href="/css/master.css">

  </head>



  <body>
  <div class="wrap">

    <nav>
      <a class="left" href="/"><img src="/img/record_logo_blue.svg" ></a>
      <a href="/">Home</a>
      <a href="/records">All Records</a>
      <a href="/records/new">New Record</a>
      <a href="/genres">All Genres</a>
      <a href="/genres/new">New Genre</a>
    </nav>
  <div class="container">
    <%= yield =%>
  </div>

  </div>
  </body>
</html>
