<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Port+Lligat+Slab|Sunshiney" rel="stylesheet">
    <title>Comical</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/comics/">All comics</a>
            <a href="/comics/new">New comic</a>
            <a href="/styles/">All styles</a>
            <a href="/styles/new">New style</a>
            <a href="/lost/">Definitely don't click me</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>