<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/master.css">
    <title>Comical</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/comics/">All comics</a>
            <a href="/comics/new">New comic</a>
            <a href="/comics/edit">Edit comic</a>
            <a href="/styles/">All styles</a>
            <a href="/styles/new">New style</a>
            <a href="/styles/edit">Edit style</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>