<p class="scroller">
    <marquee>Oh God. Lame. Nothing here apart from this deprecated scroller. Joel will be most displeased.</marquee>
</p>

<%# <svg viewBox="0,0,300,100">
    <text x="" y="50">
        Oh God. Lame. Nothing here apart from this deprecated scroller. Joel will be most displeased.
        <animate attributeName="x" from="-100" to="400" dur="4s" repeatCount="indefinite">
    </text>
</svg> %>
