<h2>New style</h2>

<form method="post" action="/styles">
    <label>Name:</label>
    <input type="text" name="name" placeholder="e.g. dark">
    <label>Origin:</label>
    <input type="text" name="origin" placeholder="e.g. Australian">
    <label>Popularity:</label>
    <input type="text" name="popularity" placeholder="e.g. very high">
    <button>Create style</button>
</form>