<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cats</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <a href="/cats_main">All Cats</a>
    <a href="/cats_new">Add your cat</a>
    <h1><a class="title"href="/">Welcome to the Cat database</a></h1>
    <%=yield%>
  </body>
</html>
