<h1>Play Game</h1>

  <h2>
      <a href="/home">Home</a>
  </h2>



  <section class="content">
      <img src="/assets/8ball.png" class="shake">
      <h2 class="shake"></h2>
  </section>


    <form action= " ">
      <input placeholder="Question" required>
      <button>Answer</button>
    </form>
