<h1>Games on Rails</h1>

<p>Welcome to the home of the most useless games you would ever play on a computer, enjoy!!!</p>

<h2>
  <a href="/magic">Magic 8 Ball</a>
</h2>

<h2>
  <a href="/secret">Secret Number</a>
</h2>

<h2>
  <a href="/rps">Rock Paper Scissors</a>
</h2>
