<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video Games</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/consoles">List of Consoles</a>
      <a href="/consoles/new">Create New Console</a>
      <a href="/games">All games</a>
      <a href="/games/new">Create New Game</a>
    </nav>
  <h1>HELLLLOOOOO</h1>
  <%=yield%>
  </body>
</html>
