<h2>Rock Paper Scissors</h2>

<form action="rock_paper_scissors/results">
  <label>Would you like to play rock, paper or scissors?</label>
  <input type="text" name="guess" placeholder="rock">
  <button>Play</button>


</form>
