<h2>Magic 8 Ball</h2>

<form action="magic8/results">
  <label for="question">What would you like to ask the magic 8 ball?</label>
  <input type="text" placeholder="Oh magic 8 ball...">
  <button>Tell me my answer</button>


</form>
