<h2>New actor</h2>

<form method="post" action="/actors">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Actor name">
  <label>Born:</label>
  <input type="integer" name="born" placeholder="Born year">
  <label>Image:</label>
  <input type="text" name="image" value="http://...">

  <button>Submit new actor</button>
</form>
