<h2>New movie</h2>

<form method="post" action="/movies">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Movie name">
  <label>Year:</label>
  <input type="integer" name="year" placeholder="Release year">
  <label>Image:</label>
  <input type="text" name="image" value="http://...">

  <label>Movie actor:</label>
  <select name="actor_id">
    <option></option>
      <% Actor.all.each do |actor| %>
    <option value="<%= actor.id %>"><%= actor.name %></option>
    <% end %>
  </select>

  <button>Submit new movie</button>
</form>
