<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Book Cover</title>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <h1>Book cover</h1>

<a  href="/"> Book Cover </a>

  <%= yield %>

</div>
  </body>
</html>
